body {
    background-color: #daa269; /* Fundo de Tela */
}
h1 {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header {
    margin-top: 20px;
}
nav ul {
    text-align: center; /* Centraliza o Menu  */
    list-style-type: none; /* Remove as bolinhas da lista */
    padding: 0; /* Remove o espaçamento */
}

nav ul li {
    display: inline-block; /* Faz os itens da lista ficarem lado a lado */
    margin-right: 10px; /* Espaço entre os botões */
}
button{
    border-radius: 20px; /* Arredonda a Borda */
    font-size: 18px; /* Aumenta o Tamanho do Botão */
}
#carouselExampleFade .carousel-item img {
  height: 500px;       
  object-fit: cover;    
  width: 100%;
}
