body {
  background-image: url('../img/filmes/vhs2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* efeito parallax */
}
h1 {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
}
header {
    margin-top: 20px;
}
nav ul {
    text-align: center; /* Centraliza o Menu  */
    list-style-type: none; /* Remove as bolinhas da lista */
    padding: 0; /* Remove o espaçamento */
}

nav ul li {
    display: inline-block; /* Faz os itens da lista ficarem lado a lado */
    margin-right: 10px; /* Espaço entre os botões */
}
button{
    border-radius: 20px; /* Arredonda a Borda */
    font-size: 18px; /* Aumenta o Tamanho do Botão */
}
#carouselExampleFade .carousel-item img {
  height: 600px;    
  width: 100%;   
  object-fit: cover; 
  object-position: center;   
  
}
.catalogo {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 35px;
    justify-content: center;
    padding-bottom: 50px;
    margin-top: 50px; 
}

/* CARD DAS NOVELAS */

.card{
    background: #FFFDF7;
    border-radius: 20px;
    padding: 20px;
    text-align: center;

    border: 2px solid #E8D5A2;

    box-shadow: 0 4px 12px rgba(0,0,0,0.12);

    transition: 0.3s;
}

.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 18px rgba(0,0,0,0.18);
}

.card img{
    width: 100%;
    height: 350px;
    object-fit: contain;
    background-color: #1a1a1a; /* preenche o espaço vazio - escolha uma cor que combine com o tema */
    border-radius: 12px;
}
/* NOME DA NOVELA */

.card h3{
    margin-top: 15px;
    color: #8A5A44;
    font-size: 24px;
}

/* DESCRIÇÃO */

.card p{
    margin-top: 10px;
    color: #666;
    line-height: 1.4;
}

/* PREÇO */

.preco{
    color: #A86A3D;
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
}

/* BOTÃO */

.card button{
    margin-top: 15px;
    background: #DDA15E;
    color: white;

    border: none;
    border-radius: 10px;

    padding: 12px 25px;

    cursor: pointer;
    font-weight: bold;

    transition: 0.3s;
}

.card button:hover{
    background: #BC6C25;
}
