html, body {
    height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  background-image: url('../img/filmes/poltronas.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* efeito parallax */
}

main {
    flex: 1; /* empurra o rodapé pra baixo */
}

h1 {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    font-size: 60px;
}
header {
    margin-top: 20px;
}
nav ul {
    text-align: center; /* Centraliza o Menu  */
    list-style-type: none; /* Remove as bolinhas da lista */
    padding: 0; /* Remove o espaçamento */
    
}
nav ul li {
    display: inline-block; /* Faz os itens da lista ficarem lado a lado */
    margin-right: 4%; /* Espaço entre os botões */
    
}
button{
    border-radius: 20px; /* Arredonda a Borda */
    font-size: 18px; /* Aumenta o Tamanho do Botão */
}
nav button{
    border-radius: 20px; /* Arredonda a Borda */
    font-size: 18px; /* Aumenta o Tamanho do Botão */
    width: 150%;
   
}
nav{
    margin-top: 20px;
}
button:hover{
transform: translateY(-5px);
    box-shadow: 0 8px 18px rgba(0,0,0,0.18);
    transition: 0.3s;
}
#carouselExampleFade .carousel-item img {
  height: 600px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.catalogo {
    padding-bottom: 50px;
    margin-top: 50px;
}



/* CARD DOS FILMES */

.card{
    background: #FFFDF7;
    border-radius: 20px;
    padding: 20px;
    text-align: center;

    border: 2px solid #E8D5A2;

    box-shadow: 0 4px 12px rgba(0,0,0,0.12);

    transition: 0.3s;
}

.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 18px rgba(0,0,0,0.18);
}

.card img{
    width: 100%;
    height: 350px;
    object-fit: contain;
    background-color: white;
    border-radius: 12px;
}
/* NOME DA NOVELA */

.card h3{
    margin-top: 15px;
    color: #8A5A44;
    font-size: 24px;
}

/* DESCRIÇÃO */

.card p{
    margin-top: 10px;
    color: #666;
    line-height: 1.4;
}

/* PREÇO */

.preco{
    color: #A86A3D;
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
}

/* BOTÃO */

.card button{
    margin-top: 15px;
    background: #DDA15E;
    color: white;

    border: none;
    border-radius: 10px;

    padding: 12px 25px;

    cursor: pointer;
    font-weight: bold;

    transition: 0.3s;
}

.card button:hover{
    background: #BC6C25;
}

/* RODAPÉ */

footer {
    background: #8A5A44;
    color: aliceblue;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
}

/* RESPONSIVIDADE */

@media (max-width: 768px) {
    h1 {
        font-size: 36px;
    }

    #carouselExampleFade .carousel-item img {
        height: 300px;
    }

    .card img {
        height: 220px;
    }
}

@media (max-width: 480px) {
    nav ul li button {
        font-size: 14px;
        padding: 6px 10px;
    }
}